#module-event {
  position: relative;
}

.module-event {
  @include at-least(medium) {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  @include up-to(medium) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include at-least(medium) {
    &::after {
      // content: url('../images/img-modules/white-right.png');
      top: 60px;
      position: absolute;
      left: 0px;
    }

    &::before {
      // content: url('../images/img-modules/white-left.png');
      top: 60px;
      position: absolute;
      right: 0px;
    }
  }
  @include at-least(large) {
    &::after,
    &::before {
      opacity: .5;
    }
  }
  @include up-to(large) {
    &::after,
    &::before {
      opacity: .05;
    }
  }

  article {
    margin-bottom: 50px;

    .event-date {
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
      width: 100%;
      border: 2px solid $white;
      margin-bottom: 0;

      @include up-to(medium) {
        font-size: 1.6rem;
      }
    }

    .event-content {
      .h3 {
        @include up-to(medium) {
          font-size: 1.6rem;
        }
      }
    }

    &:nth-child(1n+2) {
      border-top: 1px solid $white;
      padding-top: 50px;
    }
  }

  i {
    margin-right: 15px;
  }
}

.archive-page .module-event {
  padding-top: 300px;
}